@import 'global.scss';

.TabUnderline {
    background-color: transparent !important;
}

.AppBar {
    background-color: $gray-background-color;
}

.Tab {
    font-family: Raleway-Bold !important;
    font-size: $primary-font-size;
    color: $primary-text;
}