@import 'global.scss';


.Title {
    display: flex;
    background-image: url('../../assets/title/cepha.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    font-size: $secondary-font-size;
    font-family: PlayfairDisplay-Bold;
    color: $secondary-text;
    min-height: 650px; 
    justify-content: center;
}