@import 'global.scss';

.AppBar {
    background-color: $gray-background-color;
    box-shadow: none !important;
}

.Toolbar {
    min-height: 60px !important;
    align-items: flex-start !important; 
    padding-top: 8px;
    display: flex; 
    justify-content: flex-end; 
}

.Phone_Icon {
    margin-right: 5px;
    margin-top: 8px;
    color: $primary-text;
}

.Phone_Number {
    font-family: Raleway-Bold !important;
    margin-right: 10px;
    margin-top: 7px;
    color: $primary-text;
    font-size: $primary-font-size;
}

.Tab_Dropdown {
    overflow: hidden !important;
}

.Button {
    font-family: Raleway-Bold !important;
    background-color: $darkgray-background-color;
    color: $secondary-text;
    font-size: 14px !important;
    
}
