@import 'global.scss';

.AppBar {
    background-color: $primary-background-color;
}

.Toolbar {
    min-height: 60px !important;
    align-items: flex-start !important; 
    padding-top: 8px;
    display: flex; 
    justify-content: flex-end; 
}

.Phone_Icon {
    margin-right: 5px;
    margin-top: 8px;
}

.Phone_Number {
    font-family: Raleway-Bold !important;
    margin-right: 10px;
    margin-top: 7px;
}

.Tab_Dropdown {
    overflow: hidden !important;
}

.Button {
    font-family: Raleway-Bold !important;
    background-color: $teriary-background-color;
    color: $primary-text;
}
