.Toolbar {
    min-height: 50px !important;
    align-items: flex-start !important; 
    padding-top: 8px;
    display: flex; 
    justify-content: flex-end; 
}

.Phone_Icon {
    margin-right: 5px;
    margin-top: 8px;
}

.Phone_Number {
    margin-right: 10px;
    margin-top: 7px;
}

.Tab_Dropdown {
    overflow: hidden !important;
}