@import 'global.scss';

.BeforeAndAfter {
    display: flex;
    justify-content: center;
    background-color: $darkgray-background-color;
    min-height: 160px;
    color: $primary-text;
}

.Images {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

    .Images :nth-child(2) {
        margin-left: 6%;
    }

.Text {
    margin-left: 2%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header {
    font-family: PlayfairDisplay-Bold;
    font-size: $primary-font-size;
    margin-bottom: 0px;
}

.Captions {
    font-family: PlayfairDisplay-Regular;
    font-size: $primary-font-size;
    color: $primary-text;
    margin-top: 0;
    display: inline-block;
}   

    .Captions a {
        color: $primary-text;
    }