@import "global.scss";

.Copyright {
    font-size: 14px;
    letter-spacing: 0.02857em;
    color: $primary-text;
    text-transform: uppercase;
    background-color: $gray-background-color;
    text-align: center;
    font-family: Raleway-Regular;
}
