.Navigation_Root {
    flex-grow: 1;
}

.Navigation_Menu_Button {
    margin-right: 16px;
}

.Navigation_Toolbar {
    min-height: 124px !important;
    align-items: flex-start !important;
    padding-top: 8px;
    padding-bottom: 16px;
}

.Navigation_Title {
    flex-grow: 1;
    align-self: flex-end;
    text-align: center;
} 