.ContactInformation {
    display: flex;
    background-color: #67697C;
    justify-content: center;
}

    .ContactInformation p {
        font-size: 14px;
        letter-spacing: 0.02857em;
        color: white;
    }

.ContactInformation_Column {
    padding: 16px;
    text-align: center;
    color: #C6878F;
}

.ContactInformation_Grid_Left {
    display: flex;
    justify-content: flex-end;

    flex-grow: 0;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
}

.ContactInformation_Grid_Middle {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.ContactInformation_Grid_Right {
    display: flex;
    justify-content: flex-start;

    flex-grow: 0;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
}