// Background colors
$gray-background-color: #eee !important;
$lightblue-background-color: #f2f5f7 !important;
$darkgray-background-color: #3b4040 !important;
$white-background-color: white !important;

// Texts
$primary-text: #3b4040 !important;
$secondary-text: white !important;
$teriary-text: black !important;

// Font size
$mainheader-font-size: 44px !important;
$header-font-size: 30px !important;
$caption-font-size: 27px !important;
$paragraph-font-size: 23px !important;
$primary-font-size: 18px !important;

// Links
a {
    text-decoration: none !important;
    color: $teriary-text;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"),
        url(./assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway-Bold";
    src: local("Raleway-Bold"),
        url(./assets/fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    src: local("Raleway-Regular"),
        url(./assets/fonts/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "DancingScript-Regular";
    src: local("DancingScript"),
        url(./assets/fonts/DancingScript-Regular.ttf) format("truetype");
}
