@import 'global.scss';

.FeaturedServices {
    display: flex;
    justify-content: center;
    background-color: $lightblue-background-color;
    min-height: 450px;
    align-items: center;
    flex-direction: column;
    
}

.Text {
    font-size: 27px;
    color: $teriary-text;
    text-align: center;
}

.Break{
    margin-top: 2px;
    margin-bottom: 2px;
    color: $primary-text;
}

.Header {
    font-family: PlayfairDisplay-Bold;
}

.Caption {
    font-family: PlayfairDisplay-Regular;
}

.Images{
    margin-top: 23px
}